{% extends "base/base.html" %}

{% block title %}Lista de Áreas de Trabajo{% endblock %}

{% block content %}
<br>
<h1>Lista de Áreas de Trabajo</h1>

    {% if object_list %}
    <hr>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
          {% for Area in object_list %}
            <tr>
              <td>{{ Area.numero }}</td>
              <td>{{ Area.nombre }}</td>
              <td><a href="{% url 'core:DetailAT' pk=Area.numero %}" class="btn btn-outline-primary"> Details </a></td>
              <td><a href="{% url 'core:DeleteAT' pk=Area.numero %}" class="btn btn-outline-danger"> Delete </a></td>
              <td><a href="{% url 'core:UpdateAT' pk=Area.numero %}" class="btn btn-outline-warning"> Update </a></td>
            </tr>
          {% empty %}
          <li>No hay táreas de trabajo disponibles.</li>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <hr>
    <li>No hay bitacoras disponibles.</li>
    <hr>
    <br>
    {% endif %}
    <a href="{% url 'core:CreateAT' %}" class="btn btn-outline-success form-control">Crear una nueva Area de Trabajo</a> 

{% endblock content %}

