{% extends "base/base.html" %}

{% block title %} Detalles del Área de Trabajo: {{ Area.nombre }} {% endblock %}

{% block content %}
  <h1>Detalles del Área de Trabajo</h1>
  <p><strong>Nombre del Área:</strong> {{ Area.nombre }}</p>
  <!-- Agrega aquí más detalles si es necesario -->
  <a href="{% url 'core:AreasTrabajo' %}" class="btn btn-outline-warning form-control">Volver a la lista de áreas de trabajo</a>
{% endblock %}
