{% extends "base/base.html" %}

{% block title %}Áreas de Trabajo{% endblock %}

{% block content %}
<br>
<br>
<hr>
  <div class="row">
    <div class="col">
      <h2>Áreas de Trabajo</h2>
      <ul class="list-group">
        {% if Areas %}
        {% for area in Areas %}
          <li class="list-group-item">
            <a href="{% url 'core:DetailAT' pk=area.numero %}">{{ area.nombre }}</a>
          </li>          
        {% endfor %}
        {% else %}
          <li class="list-group-item">No hay areas de trabajo registradas.</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col">
      <h2>Empleados</h2>
      <ul class="list-group">
        {% if Empleados %}
          {% for Empleado in Empleados %}
            <li class="list-group-item">
              <a href="{% url 'core:DetailE' pk=Empleado.numero %}">Numero: {{ Empleado.numero }} - {{ Empleado.nombrepila }} {{ Empleado.primerapellido }} {{ Empleado.segundoapellido }}</a>
            </li>
          {% endfor %}
        {% else %}
          <li class="list-group-item">No hay trabajadores disponibles.</li>
        {% endif %}
      </ul>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col">
      <h2>Bitácoras</h2>
      <ul class="list-group">
        {% if Bitacoras %}
          {% for Bitacora in Bitacoras %}
            <li class="list-group-item">
              <a href="{% url 'core:DetailBi' Bitacora.numero %}">{{ Bitacora.titulo }}</a>
            </li>            
          {% endfor %}
        {% else %}
        <li class="list-group-item">No hay bitácoras disponibles.</li>
        {% endif %}
      </ul>
    </div>
  </div>
<hr>
{% endblock %}

