{% extends 'base/equipoindex.html' %}

{% block title %}New Ciudad View{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:ciudadindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-success">New Ciudad</button>
    </form>
{% endblock content %}