{% extends "base/base.html" %}

{% block title %}
  CREATE GRANT GOAL VIEW
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-outline-success form-control">Create</button>
            <a href="{% url 'core:list_grantgoal' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}