{% extends "base/base.html" %}

{% block title %}
  DETAIL GRANT GOAL VIEW
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ grantgoal.grantgoal_name }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the {{grantgoal.grantgoal_name}} Grant Goal .</strong> {{grantgoal.description}}
        </div>
        
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Date Data
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This is the Duration {{ grantgoal.days_duration}} days for the grantgoal item's.</strong> It is timestamp {{ grantgoal.timestamp}} grantgoal.
          <br>
          The Final Date for the grantgoal is: {{ grantgoal.final_date }}
          <br>
          The status for the grantgoal is: {{ grantgoal.status }}
          <br>
          <a href="{% url 'core:list_grantgoal'%}">back to list</a> 
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}