{% extends "base/base.html" %}

{% block title %}Lista de Bitacoras{% endblock %}

{% block content %}
<br>
<h1>Lista Bitacoras</h1>
{% if object_list %}
<hr>
    <table class="table table-striped table-hover">
        <thead>
            <th>Numero de bitacora</th>
            <th>Titulo</th>
            <th>Nombre de Empleado</th>
            <th>Numero de Empleado</th>
            <th>Metas</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
          {% for bitacora in object_list %}
            <tr>
              <td>{{ bitacora.numero }}</td>
              <td>{{ bitacora.titulo }}</td>
              <td>{{ bitacora.empleado.nombrepila }} {{ bitacora.empleado.primerapellido }} {{ bitacora.empleado.segundoapellido }}</td>
              <td>{{ bitacora.empleado.numero }}</td>
              <td>{{ bitacora.metas.meta }}</td>
              <td><a href="{% url 'core:DetailBi' pk=bitacora.numero %}" class="btn btn-outline-primary"> Details </a></td>
              <td><a href="{% url 'core:DeleteBi' pk=bitacora.numero %}" class="btn btn-outline-danger"> Delete </a></td>
              <td><a href="{% url 'core:UpdateBi' pk=bitacora.numero %}" class="btn btn-outline-warning"> Update </a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <hr>
    <li>No hay bitacoras disponibles.</li>
    <hr>
    <br>
    {% endif %}
    <a href="{% url 'core:CreateBi' %}" class="btn btn-outline-success form-control">Crear una nueva bitacora</a> 
{% endblock content %}