{% extends "base/base.html" %}

{% block title %}Eliminar Área de Trabajo{% endblock %}

{% block content %}
  <h1>Eliminar Área de Trabajo</h1>
  <p>¿Estás seguro de que deseas eliminar esta Bitacora?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:AreasTrabajo' %}" class="btn btn-warning">Volver a la lista de Bitacoras</a>
  </form>
  
{% endblock %}
