{% extends "base/base.html" %}

{% block title %}Detalles de la bitacora: {{ Bitacoras.titulo }}{% endblock %}

{% block content %}
  <h1>Detalles de la Bitacora</h1>
  <p><strong>Nombre del Área:</strong> {{ Bitacora.titulo }}</p>
  <!-- Agrega aquí más detalles si es necesario -->
  <a href="{% url 'core:Bitacora' %}" class="btn btn-outline-warning form-control">Volver a la lista de Bitacoras</a>
{% endblock %}
