{% extends "base/base.html" %}

{% block title %}Actualizar Bitacora{% endblock %}

{% block content %}
  <h1>Actualizar Bitacora</h1>
  <form method="post" class="form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Guardar Cambios</button>
    <a href="{% url 'core:AreasTrabajo' %}" class="btn btn-outline-warning">Volver a la lista de Bitacoras</a>
  </form>
  
{% endblock %}
