{% extends "base/base.html" %}

{% block title %}Eliminar Empleado{% endblock %}

{% block content %}
  <h1>Eliminar Empleado</h1>
  <p>¿Estás seguro de que deseas eliminar a este Empleado?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a href="{% url 'core:Empleados' %}" class="btn btn-warning">Volver a la lista de Empleados</a>
  </form>
  
{% endblock %}
