{% extends "base/base.html" %}

{% block title %}Detalles del Empleado: {{ Empleado.numero }} {% endblock %}

{% block content %}
  <h1>Detalles del Empleado</h1>
  <p><strong>Nombre del Empleado:</strong> {{ Empleado.nombrepila }} {{ Empleado.primerapellido }} {{ Empleado.segundoapellido }}</p>
  <a href="{% url 'core:Empleados' %}" class="btn btn-outline-warning form-control">Volver a la lista de Empleados</a>
{% endblock %}
