{% extends "base/base.html" %}

{% block title %}Lista de Empleados{% endblock %}

{% block content %}
<br>
<h1>Lista de Empleados</h1>
{% if object_list %}
<hr>
    <table class="table table-striped table-hover">
        <thead>
            <th>Numero de Empleado</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Area de Trabajo</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
          {% for Empleado in object_list %}
            <tr>
              <td>{{ Empleado.numero }}</td>
              <td>{{ Empleado.nombrepila }}</td>
              <td>{{ Empleado.primerapellido }}</td>
              <td>{{ Empleado.segundoapellido }}</td>
              <td>{{ Empleado.areadetrabajo.nombre }}</td>
              <td><a href="{% url 'core:DetailE' pk=Empleado.numero %}" class="btn btn-outline-primary"> Details </a></td>
              <td><a href="{% url 'core:DeleteE' pk=Empleado.numero %}" class="btn btn-outline-danger"> Delete </a></td>
              <td><a href="{% url 'core:UpdateE' pk=Empleado.numero %}" class="btn btn-outline-warning"> Update </a></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <hr>
    <li>No hay empleados</li>
    <hr>
    <br>
    {% endif %}
    <a href="{% url 'core:CreateE' %}" class="btn btn-outline-success form-control">Crear un nuevo trabajador</a> 
{% endblock content %}