{% extends 'base/equipoindex.html' %}
{% block title %}Detail Estadio View{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ estadio.name }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The Category was created by: <strong>{{ estadio.id_estadio }}</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the The stadium is: <strong><code>{{ estadio.name }}</code></strong>, though the transition does limit overflow. <a href="{% url 'home:estadioindex' %}" class="btn btn-link">back to index</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}