{% extends 'base/equipoindex.html' %}

{% block title %}New Estadio View{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:estadioindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-success">New Estadio</button>
    </form>
{% endblock content %}